@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

#sidebar { width: 20em; }
#maincol { margin-left: 22em !important; }

#logo a{
	text-decoration: none !important;
	color: #666;
}

#logo a:hover{
	text-shadow: #eee 0 1px 0px !important;
}

pre, p>code, div>code {
	border: 1px gray solid;
	border-radius: 3px;
	padding: 0 3px;
	background: #eee;
	color: #111111;
	text-shadow: white 0 1px;
}

div#disqus_thread {
	margin-top: 1.5em;
}
