@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

/* Put your custom style modifications here: */

#logo a{
	text-decoration: none !important;
	color: #666;
}

#logo a:hover{
	text-shadow: #eee 0 1px 0px !important;
}

