@import url("hk-pyg.css"); /* for syntax highlighting */

@media screen and (min-width: 980px){
	body {
		padding-top: 55px;
	}
}

ul.tabs {
	margin-bottom: -1px;
}
ul.tabs li:first-child {
	margin-left: 20px;
}
div#content {
	padding: .5em;
	border: #DDD solid 1px;
}

div#markuphelp {
	width: 300px;
	height: 400px;
	overflow: auto;
}

form#editform textarea#editedText {
	width: 98%;
	height: 25em;
}

form#editform div#previewpane {
	margin-top: 1em;
	padding: 1em;
	background: #eee;
}


/* headings */
h1, h2, h3, h4, h5, h6 { font-weight: normal; border-bottom: 1px solid black; }
h1.pageTitle { font-size: 197%; margin: 0.2em 0 .5em; }
h1 { font-size: 153.9%; margin: 1.07em 0 .535em; }
h2 { font-size: 138.5%; margin: 1.14em 0 .57em; }
h3 { font-size: 123.1%; margin: 1.23em 0 .615em; }
h4 { font-size: 116%; margin: 1.33em 0 .67em; }
h5 { font-size: 108%; margin: 1.6em 0 .8em; }
h6 { font-size: 100%; margin: 1.6em 0 .8em; }
h1 > a:link, h1 > a:active, h1 > a:hover, h1 > a:focus, h1 > a:visited,
h2 > a:link, h2 > a:active, h2 > a:hover, h2 > a:focus, h2 > a:visited,
h3 > a:link, h3 > a:active, h3 > a:hover, h3 > a:focus, h3 > a:visited,
h4 > a:link, h4 > a:active, h4 > a:hover, h4 > a:focus, h4 > a:visited,
h5 > a:link, h5 > a:active, h5 > a:hover, h5 > a:focus, h5 > a:visited,
h6 > a:link, h6 > a:active, h6 > a:hover, h6 > a:focus, h6 > a:visited {
        color: black; text-decoration: none; }

/* Footer */
div#footer ul {
	list-style: none;
}
div#footer ul li {
	display: inline;
	padding: 0 1em 0;
	margin: .5em -1px .5em;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

/* Index Page */
.index ul { list-style: none; margin: 0; padding: 0; }
.index li { list-style: none; background-position: 0 1px; background-repeat: no-repeat; padding-left: 20px; }
.index li.page { background-image: url(../img/icons/page.png); }
.index li.folder { background-image: url(../img/icons/folder.png); }
.index li.upload { background-image: url(../img/icons/upload.png); }
.index a { color: #000000; cursor: pointer; text-decoration: none; }
.index a:hover { text-decoration: underline; }

/*
#logo { min-height: 50px; }
#logo img{ max-width: 100%; }

#logo a{
	text-decoration: none !important;
	color: #666;
}

#logo a:hover{
	text-shadow: #eee 0 1px 0px !important;
}
*/

pre, p>code, div>code {
	border: 1px gray solid;
	border-radius: 3px;
	padding: 0 3px;
	background: #eee;
	color: #111111;
	text-shadow: white 0 1px;
}

textarea {
	font-family: monospace;
}

div#categoryList {
	margin-top: 2em;
	padding: .5em;
	background: #eee;
	border: dotted 2px #aaa;
}

div#categoryList > ul::before {
	content: "分類：";
	display: inline;
}

div#categoryList > ul {
	list-style: none;
	display: inline;
}

div#categoryList > ul > li {
	display: inline;
	margin: 0 8px 0;
}

div#disqus_thread {
	margin-top: 1.5em;
}

.added {
	background-color: #afa;
}

.deleted {
	background-color: #faa;
}
